@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-creme-light text-warm-black;
    -webkit-font-smoothing: antialiased;
  }
  /* Safe area for iPhone notch / home bar */
  #root {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
